---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Adam McKenna | Full Stack Developer | Focused on React, TypeScript & Node.js — building DevOps skills"
>
  <section class="col-span-full justify-center grid gap-4 text-center">
    <h1 class="text-3xl font-semibold sm:text-4xl lg:text-5xl">
      404: Page Not Found <header class="lg:fixed lg:h-dvh"></header>
      <p class="mt-2 text-base sm:text-lg lg:mt-0 lg:text-xl/8">
        Sorry, this page doesn't exist.
      </p>
      <a href="/">Back home</a>
    </h1>
  </section>
</Layout>
