---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adam McKenna Portfolio">
  <header>
    <h1 class="text-3xl font-semibold">Adam McKenna</h1>
    <h2 class="font-semibold mt-2 text-xl">Web Developer</h2>
    <p class="mt-2 text-base">
      I'm a remote full-stack developer with a passion for <strong
        >user experience</strong
      >, <strong>accessibility</strong> and <strong>service design</strong>.
    </p>

    <nav class="max-md:hidden">
      <ul>
        <li><a class="block" href="#about">About</a></li>
        <li><a class="block mt-2" href="#experience">Experience</a></li>
        <li><a class="block mt-2" href="#portfolio">Portfolio</a></li>
        <li><a class="block mt-2" href="#career-breaks">Career Breaks</a></li>
      </ul>
    </nav>

    <ul class="mt-4 flex gap-2 opacity-75">
      <li>
        <a href="https://github.com/adam-mckenna" target="_blank"
          ><img class="w-7" src="./icons/github.svg" /></a
        >
      </li>
      <li>
        <a href="https://dev.to/adammckenna" target="_blank"
          ><img class="w-7" src="./icons/dev-to.svg" /></a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adam-mckenna/" target="_blank"
          ><img class="w-7" src="./icons/linkedin.svg" /></a
        >
      </li>
      <li>
        <a href="https://adam-mckenna.medium.com/" target="_blank"
          ><img class="w-7" src="./icons/medium.svg" /></a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/adamcantrun" target="_blank"
          ><img class="w-7" src="./icons/insta.svg" /></a
        >
      </li>
    </ul>
  </header>

  <section>
    <section class="mt-12">
      <h2 class="font-semibold" id="about">About</h2>

      <p class="mt-2 text-base">
        Like many developers, my coding life <strong
          >began about 10 years ago</strong
        > building basic PHP websites with WordPress. Then I discovered how <strong
          >great JavaScript is</strong
        >. Since then, I've been lucky enough to write JavaScript for a <strong
          ><a href="https://www.merkle.com/dach/en">large Germany agency</a
          ></strong
        >, a <strong
          ><a href="https://www.binaryvision.com/">small English agency</a
          ></strong
        >, the <strong
          ><a href="https://dwpdigital.blog.gov.uk/">UK government</a></strong
        > and a <strong
          ><a href="https://moneyadvicetrust.org/">debt-support charity</a
          ></strong
        >.
      </p>

      <p class="mt-3 text-base">
        These days, after a <a href="#career-breaks"
          >sabbatical to travel the world</a
        >, I'm working mostly with frontend stuff with a real focus on creating <strong
          >highly usable and accessible applications</strong
        > with a focus on <strong>slick service design</strong>. <strong
          ><a href="https://react.dev/">React</a></strong
        > is my forte. But I work with other technologies, including backend stuff,
        as needed.
      </p>

      <p class="mt-3 text-base">
        Outside of work, I'm a <strong
          ><a href="https://www.instagram.com/adamcantrun">keen runner</a
          ></strong
        >, the <strong>household chef</strong> and a bit of a <strong
          >coffee snob</strong
        >. I've always got a <strong
          ><a href="https://www.goodreads.com/user/show/62146817-adam-mckenna"
            >few books on the go</a
          ></strong
        >, too.
      </p>
    </section>

    <section class="mt-12">
      <h2 class="font-semibold" id="experience">Experience</h2>

      <!-- ToDo: implement timeline at the side -->
      <article class="mt-4">
        <p class="text-xs opacity-75 flex">
          AUG 2022 — MAR 2023 <span class="mx-1 text-[7px] opacity-75"
            >&#x2022;</span
          > London, England
        </p>

        <h3 class="font-semibold mt-1 flex flex-wrap">
          Web Developer <span class="mx-2 text-[11px] opacity-75">&#x2022;</span
          >
          <a
            class="text-black no-underline inline-flex"
            href="https://binaryvision.com/"
            target="_blank"
            >Binary Vision <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>
        <p class="mt-1 text-sm/6">
          Developed and maintained a <strong>data visualisation PWA</strong> for
          <a href="https://www.oxinst.com/" target="_blank">
            Oxford Instruments</a
          >. Worked closely with the <strong>client</strong>, <strong
            >designers</strong
          > and the
          <strong>development team</strong>.
        </p>

        <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            React
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Next.js
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            HTML
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            CSS
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            PWA
          </div>
        </div>
      </article>

      <article class="mt-8">
        <p class="text-xs opacity-75 flex">
          APR 2021 — APR 2022 <span class="mx-1 text-[7px] opacity-75"
            >&#x2022;</span
          > Sheffield, England
        </p>

        <h3 class="font-semibold mt-1 flex flex-wrap">
          Senior Frontend Developer <span class="mx-2 text-[11px] opacity-75"
            >&#x2022;</span
          >
          <a
            class="text-black no-underline inline-flex"
            href="https://dwpdigital.blog.gov.uk/"
            target="_blank"
            >DWP Digital <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>
        <p class="mt-1 text-sm/6">
          Worked across several teams on <strong>internal tools</strong> for authentication
          and customer management. Worked with the <a
            href="https://design-system.service.gov.uk/"
            target="_blank">GOV.UK Design System</a
          >.
        </p>
        <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            React
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            HTML
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            CSS
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Jest
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Node.js
          </div>
        </div>
      </article>
      <article class="mt-8">
        <p class="text-xs opacity-75 flex">
          JAN 2020 — APR 2021 <span class="mx-1 text-[7px] opacity-75"
            >&#x2022;</span
          > Birmingham, England
        </p>

        <h3 class="font-semibold mt-1 flex flex-wrap">
          Frontend Developer <span class="mx-2 text-[11px] opacity-75"
            >&#x2022;</span
          >
          <a
            class="text-black no-underline inline-flex"
            href="https://moneyadvicetrust.org/"
            target="_blank"
            >Money Advice Trust <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>
        <p class="mt-1 text-sm/6">
          De-facto frontend lead for a series of <a
            href="https://www.cloudflare.com/en-gb/learning/performance/static-site-generator/"
            >static-site generated</a
          > builds for a <strong>debt-support charity</strong>. Worked with <strong
            >Next.js</strong
          >, <strong>Gatsby</strong> and a supporting <strong
            >Python backend</strong
          >.
        </p>
        <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            React
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Next.js
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Gatsby
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            HTML
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            CSS
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Python
          </div>
        </div>
      </article>

      <a
        href="./adam-mckenna-cv.pdf"
        target="_blank"
        class="flex font-semibold no-underline mt-6"
        >View complete resume <img
          class="inline-block ml-2 w-4"
          src="./icons/external-link-horizontal.svg"
          alt=""
        /></a
      >
    </section>

    <section class="mt-12">
      <h2 class="font-semibold" id="portfolio">Portfolio</h2>

      <article class="mt-2">
        <h3 class="font-semibold flex flex-wrap">
          <a
            class="text-black no-underline inline-flex"
            href="https://www.binaryvision.com/portfolio-item/oxford-instruments/"
            target="_blank"
            >Oxford Instruments Viewpoint <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>

        <p class="mt-1 text-sm/6">
          Viewpoint is a <strong>data visualisation platform</strong> to gain insights
          into how <strong>Oxford Instruments</strong> microscope detectors are being
          used by their customers.
        </p>
        <div class="flex flex-wrap mt-2 gap-1.5 opacity-75">
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            React
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Next.js
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            HTML
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            CSS
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            PWA
          </div>
        </div>

        <!-- todo: change photo -->
        <img
          alt="Oxford Instruments Viewpoint UI sample"
          class="mt-4 rounded"
          src="./viewpoint.png"
        />
      </article>

      <article class="mt-6">
        <h3 class="font-semibold flex flex-wrap">
          <a
            class="text-black no-underline inline-flex"
            href="https://www.merkle.com/dach/en/references/siemens-analytics-unlocked"
            target="_blank"
            >Siemens Analytics Unlocked <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>
        <p class="mt-1 text-sm/6">
          Analytics Unlocked is an <strong
            >award-winning data visualisation</strong
          > platform to simplify complex marketing data from <strong
            >Siemens</strong
          > across the globe.
        </p>
        <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            React
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            HTML
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            CSS
          </div>
          <div
            class="rounded bg-support text-support-light py-0.5 px-2 text-xs transition-all"
          >
            Material UI
          </div>
        </div>

        <!-- todo: change photo -->
        <img
          alt="Siemens Analytics Unlocked UI sample"
          class="mt-4 rounded"
          src="./analytics-unlocked.png"
        />
      </article>
    </section>

    <section class="mt-12">
      <h2 class="font-semibold" id="career-breaks">Career Breaks</h2>

      <article class="mt-3">
        <p class="text-xs opacity-75 flex">MAR 2023 — OCT 2024</p>
        <h3 class="font-semibold mt-1 flex flex-wrap">
          <a
            class="text-black no-underline inline-flex"
            href="https://www.polarsteps.com/AdamMcKennaUK/6541737-the-long-summer"
            target="_blank"
            >Travelling <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>

        <!-- ToDo: implement country flags -->

        <p class="mt-1 text-sm/6">
          <strong>20-month sabbatical</strong> to work, volunteer and travel across
          <strong>14 countries</strong> and <strong>3 continents</strong>.
          Cheffed for 6 months and volunteered across 8 projects.
        </p>
      </article>

      <article class="mt-6">
        <p class="text-xs opacity-75 flex">
          APR 2022 — JUL 2022 <span class="mx-1 text-[7px] opacity-75"
            >&#x2022;</span
          > Newcastle, England
        </p>

        <h3 class="font-semibold mt-1 flex flex-wrap">
          Chef <span class="mx-2 text-[11px] opacity-75">&#x2022;</span>
          <a
            class="text-black no-underline inline-flex"
            href="https://gustorestaurants.com/"
            target="_blank"
            >Gusto Italians <img
              class="inline-block ml-1 w-2"
              src="./icons/external-link.svg"
              alt=""
            /></a
          >
        </h3>

        <p class="mt-1 text-sm/6">
          <strong>3-month sabbatical</strong> from work to explore my passion for
          cooking. Responsible for preparing, cooking and plating starters, salads
          and desserts. We did as many as <strong>300 covers a day</strong>.
        </p>
        <div>
          <!-- todo: tags -->
        </div>
      </article>
    </section>

    <footer>
      <section class="mt-12 text-center">
        <p class="font-medium text-black text-xl">Nice to meet you 👋</p>
        <p class="mt-0.5 text-primary-dark-opaque opacity-75 font-extralight">
          Thanks for stopping by.
        </p>

        <img
          src="/headshot.jpg"
          class="mt-4"
          style="margin-left: auto; margin-right: auto;width: 160px; height: 160px; border-radius: 100px; background: grey"
        />
      </section>

      <section class="mt-12">
        <p class="text-sm/6 font-extralight text-primary-dark-opaque">
          Designed and developed by myself. Designed with <a
            href="https://www.figma.com/">Figma</a
          >. Developed with <a href="https://astro.build/">Astro</a>, <a
            href="https://react.dev/">React</a
          > and <a href="https://tailwindcss.com/">Tailwind</a>. Deployed with <a
            href="https://vercel.com/">Vercel</a
          >.
        </p>
      </section>
    </footer>
  </section>
</Layout>
