---
import Nav from "../components/Nav";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Adam McKenna | Full Stack Developer | Focused on React, TypeScript & Node.js — building DevOps skills"
>
  <header class="lg:fixed lg:h-dvh">
    <h1 class="text-3xl font-semibold sm:text-4xl lg:text-5xl">Adam McKenna</h1>
    <h2 class="font-semibold mt-2 text-xl sm:text-2xl lg:text-3xl lg:mt-3">
      Full Stack Developer
    </h2>
    <p class="mt-2 text-base max-w-xs sm:text-lg lg:text-xl/8 lg:mt-3">
      <span class="font-semibold"
        >I like building useful products that people <span
          class="inline-block relative"
          >actually<span
            class="animate-underline scale-0 border-b-4 border-secondary block origin-left transition-all ease-in-out"
          ></span></span
        > enjoy using.</span
      >
    </p>
    <p class="mt-2 text-base max-w-xs sm:text-lg lg:text-xl/8 lg:mt-3">
      I'm a full stack developer focused on <span class="font-semibold"
        >React</span
      >, <span class="font-semibold">TypeScript</span>, and <span
        class="font-semibold">Node.js</span
      > — comfortable across the stack, and committed to writing <span
        class="font-semibold">clean code</span
      > and delivering <span class="font-semibold"
        >rich, accessible user experiences</span
      >.
    </p>

    <Nav client:load />

    <ul class="mt-4 flex gap-2 lg:absolute lg:bottom-40">
      <li>
        <a
          class="opacity-75 hover:opacity-100 hover:text-secondary-dark focus:text-secondary-dark focus:opacity-100 active:opacity-50"
          href="https://github.com/adam-mckenna"
          target="_blank"><img class="w-7" src="./icons/github.svg" /></a
        >
      </li>
      <li>
        <a
          class="opacity-75 hover:opacity-100 hover:text-secondary-dark focus:text-secondary-dark focus:opacity-100 active:opacity-50"
          href="https://dev.to/adammckenna"
          target="_blank"><img class="w-7" src="./icons/dev-to.svg" /></a
        >
      </li>
      <li>
        <a
          class="opacity-75 hover:opacity-100 hover:text-secondary-dark focus:text-secondary-dark focus:opacity-100 active:opacity-50"
          href="https://www.linkedin.com/in/adam-mckenna/"
          target="_blank"><img class="w-7" src="./icons/linkedin.svg" /></a
        >
      </li>
      <li>
        <a
          class="opacity-75 hover:opacity-100 hover:text-secondary-dark focus:text-secondary-dark focus:opacity-100 active:opacity-50"
          href="https://adam-mckenna.medium.com/"
          target="_blank"><img class="w-7" src="./icons/medium.svg" /></a
        >
      </li>
      <li>
        <a
          class="opacity-75 hover:opacity-100 hover:text-secondary-dark focus:text-secondary-dark focus:opacity-100 active:opacity-50"
          href="https://www.instagram.com/adamcantrun"
          target="_blank"><img class="w-7" src="./icons/insta.svg" /></a
        >
      </li>
    </ul>
  </header>

  <section class="lg:col-span-6 lg:col-start-7">
    <section class="mt-12 sm:mt-16 lg:mt-0" id="about">
      <h2 class="font-semibold lg:sr-only">About</h2>

      <p class="mt-2 text-base sm:text-lg lg:mt-0 lg:text-xl/8">
        I've been <span class="font-semibold">coding for over a decade</span>.
        Like many developers, I started out building PHP and WordPress sites —
        then I discovered how <span class="font-semibold"
          >great JavaScript is</span
        > and I've never looked back.
      </p>
      <p class="mt-3 text-base sm:text-lg lg:text-xl/8 lg:mt-4">
        Since then, I've had the opportunity to build <span
          class="font-semibold"
          >full stack JavaScript, PHP and Elixir applications</span
        > for a range of organisations: a <a
          href="https://www.merkle.com/dach/en"
          target="_blank">large German agency</a
        >, a <a href="https://www.binaryvision.com/" target="_blank"
          >small British agency</a
        >, the <a href="https://dwpdigital.blog.gov.uk/" target="_blank"
          >UK government</a
        >, a <a href="https://atlasnxt.com/" target="_blank"
          >world-leading duty-of-care platform</a
        > and a <a href="https://moneyadvicetrust.org/" target="_blank"
          >debt-support charity</a
        >.
      </p>

      <p class="mt-3 text-base sm:text-lg lg:text-xl/8 lg:mt-4">
        These days, after a <a
          href="https://www.adammckenna.online/#career-breaks"
          target="_blank">sabbatical to travel the world</a
        >, I work across the stack — from frontend to infrastructure — with a
        focus on building <span class="font-semibold">clean</span>, <span
          class="font-semibold">robust</span
        >, and <span class="font-semibold">highly usable applications</span>. <a
          href="https://react.dev/"
          target="_blank">React</a
        >, <a href="https://www.typescriptlang.org/" target="_blank"
          >TypeScript</a
        >, and <a href="https://nodejs.org/en" target="_blank">Node.js</a> are my
        go-to tools, but I'm comfortable picking up whatever tech the project needs.
      </p>

      <p class="mt-3 text-base sm:text-lg lg:text-xl/8 lg:mt-4">
        Outside of work, I'm a <strong
          ><a href="https://www.instagram.com/adamcantrun">keen runner</a
          ></strong
        >, the <strong>household chef</strong> and a bit of a <strong
          >coffee snob</strong
        >. I've always got a <strong
          ><a href="https://www.goodreads.com/user/show/62146817-adam-mckenna"
            >few books on the go</a
          ></strong
        >, too.
      </p>
    </section>

    <section class="mt-12 sm:mt-16">
      <h2 class="font-semibold lg:text-3xl" id="experience">Experience</h2>

      <article class="mt-4 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            DEC 2024 — PRESENT <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> London, England
          </p>
        </div>
        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Full Stack Developer <span class="mx-2 text-[11px] opacity-75"
              >&#x2022;</span
            >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://www.track24.com/"
              target="_blank"
              >Track24 <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Responsible for the frontend of <a
              href="https://atlasnxt.com/about-us/">AtlasNXT</a
            >, a <a href="https://www.phoenixframework.org/">Elixir Phoenix</a> application
            with a dependecy on <a href="https://www.mapbox.com/">Mapbox</a>.
          </p>

          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Elixir
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Phoenix
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              JavaScript
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Tailwind
            </div>
          </div>
        </div>
      </article>

      <article class="mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            AUG 2022 — MAR 2023 <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> London, England
          </p>
        </div>
        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Full Stack Developer <span class="mx-2 text-[11px] opacity-75"
              >&#x2022;</span
            >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://binaryvision.com/"
              target="_blank"
              >Binary Vision <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Developed and maintained a <strong>data visualisation PWA</strong> for
            <a href="https://www.oxinst.com/" target="_blank">
              Oxford Instruments</a
            >. Worked closely with the <strong>client</strong>, <strong
              >designers</strong
            > and the
            <strong>development team</strong>.
          </p>

          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Next.js
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              PWA
            </div>
          </div>
        </div>
      </article>

      <article class="mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            APR 2021 — APR 2022 <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> Sheffield, England
          </p>
        </div>
        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Senior Frontend Developer <span class="mx-2 text-[11px] opacity-75"
              >&#x2022;</span
            >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://dwpdigital.blog.gov.uk/"
              target="_blank"
              >DWP Digital <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Worked across several teams on <strong>internal tools</strong> for authentication
            and customer management. Worked with the <a
              href="https://design-system.service.gov.uk/"
              target="_blank">GOV.UK Design System</a
            >.
          </p>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Jest
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Node.js
            </div>
          </div>
        </div>
      </article>

      <article class="mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            JAN 2020 — APR 2021 <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> Birmingham, England
          </p>
        </div>

        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Full Stack Developer <span class="mx-2 text-[11px] opacity-75"
              >&#x2022;</span
            >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://moneyadvicetrust.org/"
              target="_blank"
              >Money Advice Trust <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            De-facto frontend lead for a series of <a
              href="https://www.cloudflare.com/en-gb/learning/performance/static-site-generator/"
              >static-site generated</a
            > builds for a <strong>debt-support charity</strong>. Worked with <strong
              >Next.js</strong
            >, <strong>Gatsby</strong> and a supporting <strong
              >Python backend</strong
            >.
          </p>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Next.js
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Gatsby
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Python
            </div>
          </div>
        </div>
      </article>

      <article class="mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            SEP 2018 — NOV 2019 <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> Frankfurt am Main, Germany
          </p>
        </div>

        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Frontend Engineer <span class="mx-2 text-[11px] opacity-75"
              >&#x2022;</span
            >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://www.merkle.com/de.html"
              target="_blank"
              >Namics GmbH
              <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Led the frontend delivery of <span class="font-semibold"
              >Analytics Unlocked</span
            >, a global marketing analytics dashboard for <span class="semibold"
              >Siemens</span
            >, helping teams analyse and optimise marketing spend.
          </p>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React Spring
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Material UI
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
          </div>
        </div>
      </article>

      <a
        href="./adam-mckenna-cv.pdf"
        target="_blank"
        class="flex font-semibold no-underline mt-6 sm:mt-8"
        >View complete resume <img
          class="inline-block ml-2 w-4"
          src="./icons/external-link-horizontal.svg"
          alt=""
        /></a
      >
    </section>

    <section class="mt-12 sm:mt-16">
      <h2 class="font-semibold lg:text-3xl" id="portfolio">Portfolio</h2>

      <article class="mt-2 sm:mt-4 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-8">
          <h3 class="font-semibold flex flex-wrap sm:text-xl lg:text-2xl">
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://www.binaryvision.com/portfolio-item/oxford-instruments/"
              target="_blank"
              >Oxford Instruments: Oi View <img
                class="inline-block w-2 lg:w-3 lg:ml-1 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>

          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Oi View is a <strong>data visualisation platform</strong> to gain insights
            into how <strong>Oxford Instruments</strong> microscope detectors are
            being used by their customers.
          </p>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div class="rounded py-0.5 text-xs sm:text-sm transition-all">
              <a
                class="flex no-underline justify-center text-primary-dark"
                target="_blank"
                href="https://www.youtube.com/watch?v=6HBMzX20HFk"
                aria-label="YouTube demo of OI View"
              >
                <img class="w-3 mr-1" src="./icons/attachment.svg" alt="" /> Demo
                (YouTube)</a
              >
            </div>
            <div class="rounded py-0.5 text-xs sm:text-sm transition-all">
              <a
                class="flex no-underline justify-center text-primary-dark"
                target="_blank"
                href="https://www.youtube.com/watch?v=rsBZ-XYPiC8"
                aria-label="YouTube advertisement of OI View"
              >
                <img class="w-3 mr-1" src="./icons/attachment.svg" alt="" /> Advertisement
                (YouTube)</a
              >
            </div>
          </div>
          <div class="flex flex-wrap mt-2 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Next.js
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              PWA
            </div>
          </div>
        </div>

        <div class="mt-4 sm:mt-1 sm:col-span-4 sm:order-first">
          <img
            alt="Oxford Instruments Oi View UI sample"
            class="rounded shadow-sm"
            src="./viewpoint.jpg"
          />
        </div>
      </article>

      <article class="mt-6 sm:mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-8">
          <h3 class="font-semibold flex flex-wrap sm:text-xl lg:text-2xl">
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://www.merkle.com/dach/en/references/siemens-analytics-unlocked"
              target="_blank"
              >Siemens: Analytics Unlocked <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            Analytics Unlocked is an <strong
              >award-winning data visualisation</strong
            > platform to simplify complex marketing data from <strong
              >Siemens</strong
            > across the globe.
          </p>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div class="rounded py-0.5 text-xs sm:text-sm transition-all">
              <a
                class="flex no-underline justify-center text-primary-dark"
                target="_blank"
                href="https://www.youtube.com/watch?v=jI3uzHRx7c0"
                aria-label="YouTube demo of Analytics Unlocked"
              >
                <img class="w-3 mr-1" src="./icons/attachment.svg" alt="" /> Demo
                (YouTube)</a
              >
            </div>
          </div>
          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              React
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Material UI
            </div>
          </div>
        </div>

        <div class="mt-4 sm:mt-1 sm:col-span-4 sm:order-first">
          <img
            alt="Siemens Analytics Unlocked UI sample"
            class="rounded shadow-sm"
            src="./analytics-unlocked.png"
          />
        </div>
      </article>

      <article class="mt-6 sm:mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-8">
          <h3 class="font-semibold flex flex-wrap sm:text-xl lg:text-2xl">
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://bdaily.co.uk/articles/2021/07/30/newcastle-software-company-tech-to-reduce-paperwork-for-air-ambulance-service"
              target="_blank"
              >ARCEMS<img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>
          <p class="mt-1 text-sm/6 sm:text-lg/7">
            In 2018, I worked on <strong>ARCEMS</strong>, a system developed for
            the <a href="https://www.greatnorthairambulance.co.uk/"
              >Great North Air Ambulance Service</a
            > to enable easier data capture for paramedics in the field. We worked
            closely with the charity to develop the product. It was successfully
            launched in 2019.
          </p>

          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div class="rounded py-0.5 text-xs sm:text-sm transition-all">
              <a
                class="flex no-underline justify-center text-primary-dark"
                target="_blank"
                href="https://www.youtube.com/watch?v=o04OyJwmAR8"
                aria-label="YouTube Demo of an early version of ARCEMS"
              >
                <img class="w-3 mr-1" src="./icons/attachment.svg" alt="" /> Demo
                (YouTube)</a
              >
            </div>
          </div>

          <div class="flex flex-wrap mt-3 gap-1.5 opacity-75">
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Angular.js
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              HTML
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              CSS
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Material UI
            </div>
            <div
              class="rounded bg-support text-support-light py-0.5 px-2 text-xs sm:text-sm transition-all"
            >
              Laravel
            </div>
          </div>
        </div>

        <div class="mt-4 sm:mt-1 sm:col-span-4 sm:order-first">
          <img
            alt="ARCEMS sample"
            class="rounded shadow-sm"
            src="./great-north-air-ambulance-service.png "
          />
        </div>
      </article>
    </section>

    <section class="mt-12 sm:mt-16">
      <h2 class="font-semibold lg:text-3xl" id="career-breaks">
        Career Breaks
      </h2>

      <article class="mt-2 sm:mt-4 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            MAR 2023 — OCT 2024
          </p>
        </div>
        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://www.polarsteps.com/AdamMcKennaUK/6541737-the-long-summer"
              target="_blank"
              >Travelling <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>

          <!-- ToDo: implement country flags -->

          <p class="mt-1 text-sm/6 sm:text-lg/7">
            <strong>20-month sabbatical</strong> to work, volunteer and travel across
            <strong>14 countries</strong> and <strong>3 continents</strong>.
            Cheffed for 6 months and volunteered across 8 projects.
          </p>
        </div>
      </article>

      <article class="mt-8 sm:grid sm:grid-cols-12 sm:gap-6">
        <div class="sm:col-span-4">
          <p class="text-xs opacity-75 flex font-semibold sm:text-sm/6">
            APR 2022 — JUL 2022 <span
              class="mx-1 text-[7px] opacity-75 sm:hidden">&#x2022;</span
            >
            <br class="hidden sm:block" /> Newcastle, England
          </p>
        </div>
        <div class="sm:col-span-8">
          <h3
            class="font-semibold mt-1 flex flex-wrap sm:text-xl sm:mt-0 lg:text-2xl"
          >
            Chef <span class="mx-2 text-[11px] opacity-75">&#x2022;</span>
            <a
              class="flex items-center gap-1 text-black no-underline"
              href="https://gustorestaurants.com/"
              target="_blank"
              >Gusto Italians <img
                class="inline-block w-2 lg:w-3"
                src="./icons/external-link.svg"
                alt=""
              /></a
            >
          </h3>

          <p class="mt-1 text-sm/6 sm:text-lg/7">
            <strong>3-month sabbatical</strong> to explore my passion for cooking.
            Responsible for preparing, cooking and plating starters, salads and desserts.
          </p>
        </div>
      </article>
    </section>

    <footer>
      <section class="mt-12 sm:mt-16 text-center">
        <p class="font-medium text-black text-xl sm:text-2xl">
          Nice to meet you 👋
        </p>
        <p
          class="mt-0.5 text-primary-dark-opaque opacity-75 font-extralight sm:text-lg"
        >
          Thanks for stopping by.
        </p>

        <img src="/headshot.jpg" class="mt-4 h-40 w-40 rounded-full mx-auto" />
      </section>

      <section class="mt-12 sm:mt-16 sm:flex sm:justify-center">
        <p
          class="text-sm/6 font-extralight text-primary-dark-opaque sm:text-lg/7 sm:text-center sm:max-w-sm"
        >
          Designed and developed by myself. Designed with <a
            href="https://www.figma.com/">Figma</a
          >. Developed with <a href="https://astro.build/">Astro</a>, <a
            href="https://react.dev/">React</a
          > and <a href="https://tailwindcss.com/">Tailwind</a>. Deployed with <a
            href="https://vercel.com/">Vercel</a
          >.
        </p>
      </section>
    </footer>
  </section>
</Layout>
