---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adam McKenna Portfolio">
  <header>
    <h1 class="text-3xl font-semibold">Adam McKenna</h1>
    <h2 class="text-lg font-semibold mt-2">Web Developer</h2>
    <p class="mt-3">
      I’m a full-stack developer with a passion for <strong
        >user experience</strong
      >, <strong>accessibility</strong> and <strong>service design</strong>.
    </p>

    <nav class="mt-8">
      <ul>
        <li>About</li>
        <li>Experience</li>
        <li>Portfolio</li>
        <li>Career Breaks</li>
      </ul>
    </nav>

    <!-- social icons -->
    <ul class="mt-8">
      <li>###</li>
      <li>###</li>
      <li>###</li>
      <li>###</li>
      <li>###</li>
    </ul>
  </header>

  <section>
    <section class="mt-16">
      <h2 class="text-lg font-semibold">About</h2>

      <p class="mt-3">
        Like many developers, my life coding <strong
          >started about 10 years ago</strong
        > building basic PHP websites with WordPress. Then I discovered how <strong
          >great JavaScript is</strong
        >. I’ve been lucky enough to write JavaScript for a <strong
          ><a href="https://www.merkle.com/dach/en">large Germany agency</a
          ></strong
        >, a <strong
          ><a href="https://www.binaryvision.com/">small English agency</a
          ></strong
        >, the <strong
          ><a href="https://dwpdigital.blog.gov.uk/">UK government</a></strong
        > and a <strong
          ><a href="https://moneyadvicetrust.org/">debt-support charity</a
          ></strong
        >.
      </p>

      <p class="mt-3">
        These days, after a sabbatical to travel the world, I’m working mostly
        with frontend stuff with a real focus on creating <strong
          >highly usable and accessible applications</strong
        > with a focus on <strong>slick service design</strong>. <strong
          ><a href="https://react.dev/">React</a></strong
        > is my forte, but I’m also working with other technologies too. I also work
        on backend stuff as needed.
      </p>

      <p class="mt-3">
        Outside of work, I’m a <strong
          ><a href="https://www.instagram.com/adamcantrun">keen runner</a
          ></strong
        >, the <strong>household chef</strong> and a bit of a <strong
          >coffee snob</strong
        >. I’ve always got a <strong
          ><a href="https://www.goodreads.com/user/show/62146817-adam-mckenna"
            >few books on the go</a
          ></strong
        >, too.
      </p>
    </section>

    <section class="mt-16">
      <h2 class="text-lg font-semibold">Experience</h2>

      <article class="mt-3">
        <p class="text-xs opacity-50">
          AUG 2022 - MAR 2023 / London, England (hybrid)
        </p>

        <h3 class="font-semibold mt-2">Web Developer - Binary Vision</h3>
        <p class="mt-1 text-sm">
          Developed and maintained a data visualisation PWA for Oxford
          Instruments. Worked closely with the client, designers and the
          development team.
        </p>
        <div>
          <!-- tags -->
        </div>
      </article>

      <article class="mt-6">
        <p class="text-xs opacity-50">
          APR 2021 - APR 2022 / Sheffield, England (remote)
        </p>

        <h3 class="font-semibold mt-2">
          Senior Frontend Developer - DWP Digital
        </h3>
        <p class="mt-1 text-sm">
          Worked across several teams on internal tools for authentication and
          customer management. Worked with the GOV.UK Design System.
        </p>
        <div>
          <!-- tags -->
        </div>
      </article>
      <article class="mt-6">
        <p class="text-xs opacity-50">
          JAN 2020 - APR 2021 / Birmingham, England
        </p>

        <h3 class="font-semibold mt-2">
          Frontend Developer - Money Advice Trust
        </h3>
        <p class="mt-1 text-sm">
          Worked on several websites for a debt-support charity. Built three SSG
          websites with either Next.js or Gatsby, with a supporting Python
          backend.
        </p>
        <div>
          <!-- tags -->
        </div>
      </article>

      <a href="" class="block font-semibold no-underline mt-6"
        >View complete resume</a
      >
    </section>

    <section class="mt-16">
      <h2 class="text-lg font-semibold">Portfolio</h2>

      <article class="mt-3">
        <h3 class="font-semibold mt-2">Oxford Instruments Viewpoint</h3>
        <p class="mt-1 text-sm">
          Viewpoint is a <strong>data visualisation platform</strong> to gain insights
          into how <strong>Oxford Instruments</strong> microscope detectors are being
          used by their customers.
        </p>
        <div>
          <!-- tags -->
        </div>
        <img class="mt-2" style="width: 400px; height: 175px;" />
      </article>

      <article class="mt-6">
        <h3 class="font-semibold mt-2">Siemens Analytics Unlocked</h3>
        <p class="mt-1 text-sm">
          Analytics Unlocked is an <strong
            >award-winning data visualisation</strong
          > project to simplify complex marketing data from <strong
            >Siemens</strong
          > across the globe.
        </p>
        <div>
          <!-- tags -->
        </div>
        <img class="mt-2" style="width: 400px; height: 175px;" />
      </article>
    </section>

    <section class="mt-16">
      <h2 class="text-lg font-semibold">Career Breaks</h2>

      <article class="mt-3">
        <p class="text-xs opacity-50">MAR 2023 - OCT 2024</p>

        <div>
          <!-- ToDo: flags -->
        </div>

        <h3 class="font-semibold mt-2">Travelling</h3>
        <p class="mt-1 text-sm">
          A <strong>20-month sabbatical</strong> to work, volunteer and travel across
          <strong>14 countries</strong> and <strong>3 continents</strong>.
          Cheffed for 6 months and volunteered across 8 projects.
        </p>
      </article>

      <article class="mt-6">
        <p class="text-xs opacity-50">
          APR 2022 - JUL 2022 / Newcastle, England
        </p>

        <h3 class="font-semibold mt-2">Chef - Gusto Italians</h3>
        <p class="mt-1 text-sm">
          <strong>3-month sabbatical</strong> from work to explore my passion for
          cooking. Responsible for <strong
            >preparing, cooking and plating starters, salads and desserts</strong
          >. We did as many as <strong>300 covers a day</strong>.
        </p>
        <div>
          <!-- tags -->
        </div>
      </article>
    </section>

    <footer>
      <section class="mt-16 text-center">
        <h2 class="text-lg font-semibold">Nice to meet you!</h2>
        <p class="mt-1">Thanks for stopping by.</p>

        <img
          src="/headshot.jpg"
          class="mt-3"
          style="margin-left: auto; margin-right: auto;width: 160px; height: 160px; border-radius: 100px; background: grey"
        />
      </section>

      <section class="mt-16">
        <p class="text-sm">
          Designed and developed by myself. Designed with <a
            href="https://www.figma.com/">Figma</a
          >. Developed with <a href="https://astro.build/">Astro</a>, <a
            href="https://react.dev/">React</a
          > and <a href="https://tailwindcss.com/">Tailwind</a>. Deployed with <a
            href="https://vercel.com/">Vercel</a
          >.
        </p>
      </section>
    </footer>
  </section>
</Layout>
