---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;

  @layer base {
    @font-face {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-display: swap;
      font-style: normal;
    }

    body {
      min-height: 100vh;
      background: rgb(18, 15, 12);
      background: radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      background: -moz-radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      background: -webkit-radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAF4EE", endColorstr="#F6EBDF", GradientType=1 );
    }
  }
</style>
