---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main
      class="m-9 md-grid md-grid-cols-2 md-gap-12 sm:mx-16 sm:my-14 lg:m-20 lg:grid lg:grid-cols-12 lg:gap-6"
    >
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @tailwind base;

  @layer base {
    @font-face {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-display: swap;
      font-style: normal;
    }

    html {
      scroll-behavior: smooth;
      background: rgb(18, 15, 12);
      background: radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      background: -moz-radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      background: -webkit-radial-gradient(
        circle,
        hsla(30, 55%, 96%, 1) 1%,
        hsla(31, 56%, 92%, 1) 48%,
        hsla(30, 55%, 96%, 1) 100%
      );
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAF4EE", endColorstr="#F6EBDF", GradientType=1 );
    }

    body {
      @apply font-light antialiased;
      min-height: 100vh;
    }

    strong {
      @apply font-semibold;
    }

    a {
      @apply font-semibold text-secondary underline underline-offset-4 transition-all duration-150 hover:text-secondary-dark focus:text-secondary-dark active:opacity-50;
      text-decoration-thickness: 3px;
    }

    p {
      @apply text-sm tracking-tighter text-primary-dark-opaque;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      @apply tracking-tight text-primary-dark;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-lg;
    }
  }
</style>
